.audience-section {
}

.audience-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 48px;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 56px;
  }
}

.audience-container {
}

.audience-title-wrapper {
  @include media(desktop) {
  }
}

.audience-title {
  @include media(desktop) {
  }
}

.audience-subtitle {
  max-width: 283px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: max-content;
  }
}

.audience-content-wrapper {
  display: grid;
  gap: 32px 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'list1 list2'
    'image image';

  @include media(desktop) {
    gap: 70px;
    grid-template-columns: max-content auto max-content;
    align-items: center;
    justify-content: center;
    grid-template-areas: 'list1 image list2';
  }
}

.audience-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    gap: 24px;
  }
}

.audience-list1 {
  grid-area: list1;

  @include media(desktop) {
  }
}

.audience-list2 {
  grid-area: list2;

  @include media(desktop) {
  }
}

.audience-list-item {
  background: #502566;
  border: 2px solid #e7c713;
  border-radius: 16px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 164px;
  min-height: 96px;

  @include media(desktop) {
    padding: 20px 40px;
    max-width: 290px;
    min-height: 96px;
  }
}

.audience-item-text {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #e2dbee;

  @include media(desktop) {
  }
}

.audience-img {
  grid-area: image;

  @include media(desktop) {
  }
}
