.footer {
  background: #1d092b;
  padding: 48px 0;

  @include media(desktop) {
    padding: 56px 0;
  }
}

.footer-container {
}

.footer-content-wrapper {
  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer-nav {
  margin-bottom: 40px;

  @include media(desktop) {
    order: 3;
    margin-bottom: 0;
  }
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  @include media(desktop) {
    gap: 16px;
  }
}

.footer-list-item {
}

.footer-link {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #e2dbee;

  @include media(desktop) {
    font-size: 16px;
  }
}

.footer-btn {
  box-shadow: 0 2px 4px rgba(255, 225, 53, 0.4),
    inset 0 0 14px 2px rgba(29, 9, 43, 0.6);
  background: #e7c713;
  border: 1px solid rgba(29, 9, 43, 0.6);
  border-radius: 32px;
  padding: 17px;
  width: 100%;
  max-width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Chelsea Market', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1d092b;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #ffec84;
    border-color: rgba(29, 9, 43, 0.6);
  }

  @include media(desktop) {
    order: 2;
    margin: 0;
  }
}

.footer-text {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #e2dbee;

  @include media(desktop) {
    font-size: 16px;
    order: 1;
  }
}
