.timing-section {
}

.timing-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 376px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/timing/timing-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 984px;
    max-width: 1440px;
    background-image: url(../img/timing/timing-bg-desk.jpg);
  }
}

.timing-container {
}

.timing-subtitle {
  @include media(desktop) {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

.timing-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    flex-direction: row;
    gap: 24px;
  }
}

.timing-list-item {
  background: #502566;
  border: 2px solid #e7c713;
  border-radius: 16px;
  padding: 20px 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  min-height: 96px;

  @include media(desktop) {
    max-width: 250px;
    min-height: 120px;
  }
}

.timing-item-text {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #e2dbee;

  @include media(desktop) {
  }
}
