.variety-section {
  background: #502566;
}

.variety-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 48px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 56px;
    max-width: 1440px;
  }
}

.variety-container {
}

.variety-title-wrapper {
  @include media(desktop) {
  }
}

.variety-title {
  @include media(desktop) {
  }
}

.variety-subtitle {
  @include media(desktop) {
  }
}

.variety-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 48px;
  }
}

.variety-img {
  @include media(desktop) {
  }
}

.variety-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
  }
}

.variety-list-item {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.variety-item-circle {
  border-radius: 100%;
  background: #e7c713;
  min-width: 16px;
  width: 16px;
  height: 16px;

  @include media(desktop) {
  }
}

.variety-item-text {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #e2dbee;

  @include media(desktop) {
  }
}
