<section class="section about-section" id="about">
  <div class="section-title-wrapper about-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title about-title">ABOUT THE GAME</h2>
    </div>
  </div>
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <p class="section-subtitle about-subtitle">
        Snail Out is built around one simple goal: every snail must reach the
        correct shell.
      </p>
      <div class="about-content-wrapper">
        <img
          class="about-img"
          src="./img/about/about-img1-mob.png"
          alt="Screenshot of the game"
          width="272"
          height="290"
          loading="lazy"
        />
        <p class="about-text">
          You control snails of different colors and sizes, guiding them through
          narrow paths, intersections, and obstacles.<br />
          <br />
          Each level is a small logic maze where timing and order matter just as
          much as direction.<br />
          <br />
          It’s easy to understand — and surprisingly tricky to master.
        </p>

        <img
          class="about-img"
          src="./img/about/about-img2-mob.png"
          alt="Screenshot of the game"
          width="272"
          height="290"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
