<section class="section audience-section" id="audience">
  <div class="section-title-wrapper audience-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title audience-title">WHO THIS GAME IS FOR</h2>
    </div>
  </div>
  <div class="audience-bg-wrapper">
    <div class="container audience-container">
      <p class="section-subtitle audience-subtitle">
        Snail Out is perfect for players who:
      </p>
      <div class="audience-content-wrapper">
        <ul class="audience-list audience-list1">
          <li class="audience-list-item">
            <p class="audience-item-text">
              Like games that are cute but clever
            </p>
          </li>
          <li class="audience-list-item">
            <p class="audience-item-text">
              Want short, satisfying puzzle sessions
            </p>
          </li>
          <li class="audience-list-item">
            <p class="audience-item-text">
              It’s friendly on the surface — smart underneath.
            </p>
          </li>
        </ul>
        <ul class="audience-list audience-list2">
          <li class="audience-list-item">
            <p class="audience-item-text">
              Enjoy logic and escape-style puzzles
            </p>
          </li>
          <li class="audience-list-item">
            <p class="audience-item-text">
              Prefer thinking and planning over fast tapping
            </p>
          </li>
          <li class="audience-list-item">
            <p class="audience-item-text">
              Appreciate clean design and smooth controls
            </p>
          </li>
        </ul>
        <img
          class="audience-img"
          src="./img/audience/audience-img-mob.png"
          alt="Screenshot of the game"
          width="343"
          height="343"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
