<section class="section gameplay-section" id="gameplay">
  <div class="section-title-wrapper gameplay-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title gameplay-title">HOW THE SNAILS MOVE</h2>
    </div>
  </div>
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <p class="section-subtitle gameplay-subtitle">
        Every level asks you to think before you slide.
      </p>
      <ul class="gameplay-list">
        <li class="gameplay-list-item">
          <p class="gameplay-item-title">
            The controls are intentionally simple:
          </p>
          <ul class="gameplay-features-list">
            <li class="gameplay-features-item">
              <div class="gameplay-features-item-circle"></div>
              <p class="gameplay-features-item-text">
                Drag from a snail’s body
              </p>
            </li>
            <li class="gameplay-features-item">
              <div class="gameplay-features-item-circle"></div>
              <p class="gameplay-features-item-text">
                Slide it across the board
              </p>
            </li>
            <li class="gameplay-features-item">
              <div class="gameplay-features-item-circle"></div>
              <p class="gameplay-features-item-text">
                Release and let it glide
              </p>
            </li>
          </ul>
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img1-mob.png"
            alt="Screenshot of the game"
            width="262"
            height="466"
            loading="lazy"
          />
        </li>
        <li class="gameplay-list-item">
          <p class="gameplay-item-title">
            But the challenge comes from everything around it.
          </p>
          <ul class="gameplay-features-list">
            <li class="gameplay-features-item">
              <div class="gameplay-features-item-circle"></div>
              <p class="gameplay-features-item-text">
                Snails can block each other
              </p>
            </li>
            <li class="gameplay-features-item">
              <div class="gameplay-features-item-circle"></div>
              <p class="gameplay-features-item-text">Paths overlap and cross</p>
            </li>
            <li class="gameplay-features-item">
              <div class="gameplay-features-item-circle"></div>
              <p class="gameplay-features-item-text">
                One wrong move can trap another snail
              </p>
            </li>
          </ul>
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img2-mob.png"
            alt="Screenshot of the game"
            width="262"
            height="466"
            loading="lazy"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
