<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home"
          >Meet tha Snails</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about"
          >About the Game</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gameplay"
          >How Snails Move</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#puzzles"
          >Puzzles That Grow With You</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#timing"
          >Timing, Pressure & Satisfaction</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#variety"
          >Level Variety & Replay Value</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#audience"
          >Who This Game Is For</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gallery"
          >Game Gallery</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#faq">FAQ</a>
      </li>
    </ul>
    <ul class="context-privacy-list">
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./privacy-policy.html"
          >Privacy Policy</a
        >
      </li>
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./terms-and-conditions.html"
          >Terms & Conditions</a
        >
      </li>
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./cookies-policy.html"
          >Cookies Policy</a
        >
      </li>
    </ul>
  </nav>
</div>
