<section class="section variety-section" id="variety">
  <div class="section-title-wrapper variety-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title variety-title">LEVEL VARIETY & REPLAY VALUE</h2>
    </div>
  </div>
  <div class="variety-bg-wrapper">
    <div class="container variety-container">
      <div class="variety-content-wrapper">
        <img
          class="variety-img"
          src="./img/variety/variety-img1-mob.png"
          alt="Screenshot of the game"
          width="252"
          height="388"
          loading="lazy"
        />
        <ul class="variety-list">
          <li class="variety-list-item">
            <div class="variety-item-circle"></div>
          </li>
          <li class="variety-list-item">
            <p class="variety-item-text">Dozens of handcrafted puzzles</p>
          </li>
          <li class="variety-list-item">
            <div class="variety-item-circle"></div>
          </li>
          <li class="variety-list-item">
            <p class="variety-item-text">
              Different board layouts and path designs
            </p>
          </li>
          <li class="variety-list-item">
            <div class="variety-item-circle"></div>
          </li>
          <li class="variety-list-item">
            <p class="variety-item-text">
              Increasing complexity without repeating ideas
            </p>
          </li>
          <li class="variety-list-item">
            <div class="variety-item-circle"></div>
          </li>
          <li class="variety-list-item">
            <p class="variety-item-text">
              New surprises unlocked as you progress
            </p>
          </li>
          <li class="variety-list-item">
            <div class="variety-item-circle"></div>
          </li>
          <li class="variety-list-item">
            <p class="variety-item-text">
              Each level feels like a fresh problem to solve.
            </p>
          </li>
          <li class="variety-list-item">
            <div class="variety-item-circle"></div>
          </li>
        </ul>
        <img
          class="variety-img"
          src="./img/variety/variety-img2-mob.png"
          alt="Screenshot of the game"
          width="252"
          height="388"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
